.btn-outline-primary {
    width: 50px;
}

.seat {
    /* margin-bottom: 10px; */
    padding: 5px;
}

.gap {
    margin-right: 50px;
}

input[type=checkbox]:checked:not([disabled])+label {
    background-color: red;
}